/* Global Styles */
body {
    color: #FEFEFE;
    background-color: #0c0d10;
    font-family: "gohu", "Lucida Console", monospace, Monaco;
    line-height: 1.0;
    margin: 0;
  }
  
  @font-face {
    font-family: "gohu";
    src: url("../fonts/gohu.woff") format('woff');
  }
  
  pre {
    font-family: "gohu", "Lucida Console", monospace, Monaco;
    font-size: 14px;
    line-height: 1.0;
    white-space: pre;
    overflow: auto;
  }
  
  a {
    color: #d10000;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .container {
    margin-right: 0px;
    margin-left: 0px;
  }
  
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  
  h2, h3 {
    color: #d10000;
  }
  

  